.container {
    margin: 0;
    padding: 0;
    height: 1405px;
    
}

.btn {
    position: absolute;
    width: 197.16px;
    height: 46px;
    left: 1209px;
    top: 64px;
  

    background: #204080;
    border-radius: 12px;
    text-align: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    cursor: pointer;
}

.tesodev {
  position: absolute;
  width: 458.9px;
  height: 146.71px;
  left: 601px;
  top: 103px;

}

.tesodev-img {
  width: 278px;
  height: 115px;
  left: 501px;
  background-color: cadetblue;
}

.search-text {
  position: absolute;
  width: 220px;
  left: 238.9px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;

  color: #484848;
}

.find-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 24px;
  gap: 8px;

  position: absolute;
  height: 54px;
  left: 390px;
  right: 270px;
  top: 247.71px;
}

.find-record {
  width: 692px;
  height: 36px;
  top: 309.71;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  color: #090A0A;
}


.search {
  text-align: center;
  width: 646px;
  height: 48px;
  top: 343.86px;
  left: 422.5px;
  position: absolute;
  background: #FFFFFF;
  border: 2px solid #204080;
  border-radius: 8px;
}

.search:hover {
  border: 3px solid #204080;
}



.search-button {
  position: absolute;
  width: 138px;
  height: 46px;
  left: 1085.9px;
  top: 346.86px;

  background: #204080;
  border-radius: 12px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;

  color: #FFFFFF;
}

.fa-search {

  position: absolute;
  width: 717.84px;
  height: 248.25px;
  left: 317.5px;
  top: 421.57px;

}

.search-result {
    position: relative;
    top: 425px;
    left: 358px;
    border: 1px solid #484848;
    border-radius: 24px;
    width: 717.84px;
    height: 248.25px;
}

.result {
    position: relative;
    top: 5px;
    left: 9px;
}

.box {
    height: 63px;
    width: 696px;
    left: 277.0810546875px;
    top: 414.6971435546875px;
    border-radius: 0px;
    
    
}

.box:hover{
    background: rgba(79, 117, 194, 0.21);
    border-radius: 8px;
    cursor: pointer;
}

.box img {
    position: relative;
    height: 22px;
    width: 18px;
    left: 37.5px;
    top: 1px;
    border-radius: 0px;

}

.box1 {
    position: relative;
    float: left;
    margin: 3px;
    top: 10px;
    max-width: 125px;
}

.box2 {
    position: relative;
    left: 50px;
    top: 10px;
}
hr {
    
    background: #F2F4F5;
    height: 1px;
    width: 575px;
    border:none

}

.country {
    color: #72777A;
}

h2 {
    position: absolute;
    width: 692px;
    height: 36px;
    top: 710px;
    left: 158.08px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;

    color: #090A0A;
}

.carousel {
    position: absolute;
    width: 1161.35px;
    height: 279px;
    left: 106.16px;
    top: 769px;

}

.circle {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 55.16px;
    top: 119px;

    cursor: pointer;
    background: #EEEEEE;
    border-radius: 24px;
}

.circle-left {
    position: relative;
    height: 24px;
    width: 12px;
    left: 15px;
    top: 12px;
    border-radius: 0px;
    
}

.news{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;

    position: absolute;
    left: 127.08px;
    right: 825.92px;
    top: 41px;
    

}

.new-p {
    width: 327px;
    height: 40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #090A0A;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.new-time {
    width: 327px;
    height: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    color: #6C7072;
}

.news-middle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;

    position: absolute;
    left: 478px;
    right: 825.92px;
    top: 41px;

}

.news-last{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;

    position: absolute;
    left: 830px;
    right: 825.92px;
    top: 41px;

}

.circle-plus {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 1185.16px;
    top: 118px;

    cursor: pointer;
    background: #EEEEEE;
    border-radius: 24px;
}

.circle-right {
    position: relative;
    height: 24px;
    width: 12px;
    left: 19px;
    top: 12px;
    border-radius: 0px;
}

.footer {
    position: absolute;
    width: 1519.5px;
    height: 277.13px;
    left: 0;
    top: 1161px;
    background: rgba(41, 78, 152, 0.72);
}

.footer img {
    position: relative;
    left: 59.66px;
    top: 48.82px;

}

.footer .footer-text {

    top: 48.82px;
    position: absolute;
    width: 424.98px;
    height: 171.77px;
    left: 350.5px;
 

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}

.map {
    position: absolute;
    width: 467.49px;
    height: 222.49px;
    left: 778.67px;
    top: 12px;
}

.map iframe {
    width: 587.49px;
    height: 252.49px;
}

.address {
    font-family:sans-serif;
    font-weight: initial;
}

@media only screen and (max-width : 320px){
    .container{
        width: 100%;
    }
}