<body>
    <div class="container">
        <button type="button" class="btn">
          Add new record
        </button>
      
        <div class="tesodev">
          <img class="tesodev-img" src="../assets/img/jpg1.png" alt="Tesodev">
          <p class="search-text">Search app</p>
        </div>
      
        <div class="find-title">
          <p class="find-record">Find in records</p>
      
        </div>
      
        <form class="search-form">
          <input type="text" class="search">
          <button class="search-button" type="submit" aria-label="Search">Search</button>
        </form>
      
        <div class="search-result"></div>
      
        <h2>Top News</h2>
      
        <div class="carousel multiple-items">
              <div class="circle">
                  <div class="circle-left">
                      <img src="../assets/img/Vector.png" alt="">
                  </div>
              </div>
      
              <div class="news">
                  <div class="image">
                      <img src="../assets/img/carousel.png" alt="">
                      <p class="new-p">A Plan to Rebuild the Bus Terminal Everyone Loves to Hate</p>
                      <p class="new-time">1h ago · by Troy Corlson</p>
                  </div>
              </div>
      
              <div class="news-middle">
                  <div class="image">
                      <img src="../assets/img/carousel.png" alt="">
                      <p class="new-p">A Plan to Rebuild the Bus Terminal Everyone Loves to Hate</p>
                      <p class="new-time">1h ago · by Troy Corlson</p>
                  </div>
              </div>
      
              <div class="news-last">
                  <div class="image">
                      <img src="../assets/img/carousel.png" alt="">
                      <p class="new-p">A Plan to Rebuild the Bus Terminal Everyone Loves to Hate</p>
                      <p class="new-time">1h ago · by Troy Corlson</p>
                  </div>
              </div>
      
              <div class="circle-plus">
                  <div class="circle-right">
                      <img src="../assets/img/Vecto.png" alt="">
                  </div>
              </div>    
          </div>
          <div class="footer">
              <img src="../assets/img/iletişim.png" alt="">
              <div class="footer-text">
                  İletişim 
                  <p class="address">
                      Adres: Çifte Havuzlar Mah. Eski Londra Asfaltı Cad. Kuluçka Merkezi D2 Blok No: 151/1F İç Kapı No: 2B03 Esenler/İstanbul
                  </p>  Email: bilgi@tesodev.com
              </div>
              <div class="map">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48164.47615648012!2d28.890948000000005!3d41.019135!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc98f44e9057adcde!2zVGVzb2RldiBZYXrEsWzEsW0gRG9uYW7EsW0gQmlsacWfaW0gQml5b21lZGlrYWwgS29uZ3JlIFR1cml6bSBFxJ9pdGltIERhbsSxxZ9tYW5sxLFrIExpbWl0ZWQgxZ5pcmtldGk!5e0!3m2!1str!2str!4v1662918521219!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
          </div>
      
      </div>
    
    <script>
    $('.multiple-items').slick({
        infinite: false,
        slidesToShow: 3,
        slidesToScroll: 3
      });
          </script>
</body>


